<div id="entriesNav">
    <h3 id="subjectTitle"></h3>
    <button class="button" onclick="location.href = '/edit';">+ Neuer Eintrag</button>

    
</div>

<div id="subjectListNav">
    <h4>Meine Fächer</h4>

    <nav id="subjectList">
        <ul>
            
        </ul>
    </nav>

</div>
