<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>Document</title>
	</head>
	<body
		style="display: flex; flex-direction: column; height: 100vh; padding: 0; margin: 0"
	>
		<h1>HTML Working!!</h1>

		<div style="flex-grow: 1">
			<textarea id="tinymce"></textarea>
		</div>

		<script type="application/javascript" src="/tinymce/tinymce.min.js"></script>

		<script type="application/javascript" src="/js/tinymce-config.js"></script>
	</body>
</html>
