<div class="flex flex-col flex-grow py-2 gap-4">
	<div id='root' class='flex flex-col flex-[12] xl:flex-row justify-between gap-4 h-min overflow-hidden'>

		<a id="edit" href='/subjects'
			class='group grow relative block bg-black w-full xl:w-[40rem] overflow-hidden rounded'>
			<img alt='Developer' src='/assets/note.jpg'
				class='absolute inset-0 h-full w-full object-cover opacity-50 sm:opacity-75 transition-opacity group-hover:opacity-50' />

			<div class='p-4 sm:p-6 lg:p-8'>
				<p class='text-sm font-medium uppercase tracking-widest text-neutral-400'>
					schüler
				</p>

				<p class='text-xl font-bold text-white sm:text-4xl'>Notieren</p>

				<div class='mt-32 sm:mt-48 lg:mt-64 absolute bottom-5'>
					<div
						class='sm:translate-y-8 transform sm:opacity-0 transition-all group-hover:translate-y-0 translate-y-0 opacity-100  group-hover:opacity-100 flex items-center gap-2'>
						<p class='text-white'>
							Jetzt loslegen
						</p>

						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
							class="w-7 h-7 fill-white">
							<path fill-rule="evenodd"
								d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
								clip-rule="evenodd" />
						</svg>

					</div>
				</div>
			</div>
		</a>


		<a href='#' class='group grow relative block bg-black w-full xl:w-[40rem] overflow-hidden rounded'>
			<img alt='Developer' src='/assets/review.jpg'
				class='absolute inset-0 h-full w-full object-cover opacity-50 sm:opacity-75 transition-opacity group-hover:opacity-50' />

			<div class='p-4 sm:p-6 lg:p-8'>
				<p class='text-sm font-medium uppercase tracking-widest text-neutral-400'>
					lehrpersonen | lehrbetriebe
				</p>

				<p class='text-xl font-bold text-white sm:text-4xl'>Überprüfen</p>

				<div class='mt-32 sm:mt-48 lg:mt-64 absolute bottom-5'>
					<div
						class='sm:translate-y-8 transform sm:opacity-0 transition-all group-hover:translate-y-0 translate-y-0 opacity-100  group-hover:opacity-100 flex items-center gap-2'>
						<p class='text-white'>
							Jetzt loslegen
						</p>

						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
							class="w-7 h-7 fill-white">
							<path fill-rule="evenodd"
								d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
								clip-rule="evenodd" />
						</svg>

					</div>
				</div>
			</div>
		</a>

	</div>


	<a href="#"
		class="flex-[0.25] py-3 relative flex justify-center items-center bg-neutral-800 overflow-hidden rounded gap-2">


		<span class="text-white text-sm ">Demo jetzt ausprobieren</span>


		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 fill-white">
			<path fill-rule="evenodd"
				d="M5.22 14.78a.75.75 0 001.06 0l7.22-7.22v5.69a.75.75 0 001.5 0v-7.5a.75.75 0 00-.75-.75h-7.5a.75.75 0 000 1.5h5.69l-7.22 7.22a.75.75 0 000 1.06z"
				clip-rule="evenodd" />
		</svg>


	</a>
</div>