<div style='flex-grow: 1'>
	<textarea id='tinymce'>
		<h1 style='text-decoration: underline;'>Test</h1>
	</textarea>
</div>

<script src='/js/jwt.js'></script>

<script type='application/javascript' src='/tinymce/tinymce.min.js'></script>

<script type='application/javascript' src='/js/tinymce-config.js'></script>