<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/form.css" />
		<script src="/js/jwt.js"></script>
		<title>Register | Lerntagebuch</title>
	</head>
	<body>
		<form
			id="form"
			action="/api/auth/register"
			method="post"
			enctype="multipart/form-data"
		>
			<h1>Registrieren</h1>

			<fieldset>
				<label for="username">Benutzername</label>
				<input type="text" name="username" id="username" required />

				<label for="password">Passwort</label>
				<input type="password" name="password" id="password" required />

				<label for="role">Benutzertyp</label>
				<select name="role" id="role">
					<option value="student">Lernende/r</option>
					<option value="teacher">Lehrperson</option>
					<option value="firm">Lehrbetrieb</option>
				</select>
			</fieldset>

			<button id="submit" type="submit">einsenden</button>
		</form>

		<script src="/js/register.js"></script>
	</body>
</html>
