<form id="form" action="/test" method="post" style='flex-grow: 1'>
	<div class="w-full flex justify-between items-center">

		<div class="grow py-2 px-1 my-2">
			<span id="title"
				class="text-3xl py-1 px-1 overflow-hidden appearance-none focus-visible:outline-none border-b-2 mr-3 border-neutral-900 mb-2"
				role="textbox" contenteditable>

			</span>


		</div>

		<button id="back" type="button"
			class="py-2 px-8 mr-2 rounded border-none bg-neutral-900 text-xs text-white disabled:cursor-not-allowed">
			Zurück
		</button>

		<button id="save" type="submit"
			class="py-2 px-8 rounded border-none bg-neutral-900 text-xs text-white disabled:cursor-not-allowed">
			Speichern
		</button>
	</div>

	<textarea id='tinymce'>

	</textarea>
</form>

<script type='application/javascript' src='/tinymce/tinymce.min.js'></script>

<script type='application/javascript' src='/js/tinymce-config.js'></script>