<form id="form" action="/test" method="post" style='flex-grow: 1'>
	<div class="w-full flex justify-between items-center">

		<div class="grow py-2 px-1 my-2">
			<span id="title"
				class="text-3xl py-1 px-1 overflow-hidden appearance-none focus-visible:outline-none border-b-2 mr-3 border-neutral-900 mb-2"
				role="textbox" contenteditable>

			</span>


		</div>


		<script>
			(async () => {
				const token = sessionStorage.getItem('token');
				const entriesList = await fetch('/api/entry/list', {
					headers: { Authorization: token },
					method: "get"
				});
				const entryList = await entriesList.json();
				for (let i = 0; i < entryList.length; i++) {
					if (window.location.href.slice(-1) == entryList[i].entryID) {
						document.getElementById("back").onclick = function back() {
							window.location.href = `/entries?id=${entryList[i].subjectID}`;
						}
					}
				}
			})() 
		</script>
		<div>
			<button id="back"
				class="py-2 px-8 mr-2 rounded border-none bg-neutral-900 text-xs text-white">Zurück</button>
			<button id="save" type="submit" class="py-2 px-8 rounded border-none bg-neutral-900 text-xs text-white">
				Speichern
			</button>
		</div>
	</div>

	<textarea id='tinymce'>

	</textarea>
</form>

<script type='application/javascript' src='/tinymce/tinymce.min.js'></script>

<script type='application/javascript' src='/js/tinymce-config.js'></script>