#header {
	padding: 10px 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	display: flex;
	align-items: center;
	gap: 2.5px;
}

.nav-item {
	font-size: smaller;
	padding: 7.5px 30px;
}

#register {
	color: #262626;
	text-decoration: none;
}

#login {
	text-decoration: none;
	border-radius: 5px;
	border: none;
	background-color: #f1f1f1;
}

#login:hover {
	cursor: pointer;
	background-color: #d6d6d6;
}
