<!DOCTYPE html>

<html lang='en'>

<head>
	<script src="https://cdn.tailwindcss.com"></script>
	<meta charset='UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge' />
	<meta name='viewport' content='width=device-width, initial-scale=1.0' />
	<link rel='stylesheet' href='/css/main.css' />
	<script src="/js/jwt.js"></script>

	<title>Document</title>
</head>

<body>
	<div class="min-h-screen max-h-screen flex flex-col max-w-screen-xl w-full mx-auto p-2.5 pt-0 xl:p-0">

		{{> header}}

		{{{body}}}

	</div>
</body>

</html>